@import './reset.css';

#app {
  background-color: #DDD;
  border-radius: 1rem;
  color: #111;
  font-family: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", 
    "Fira Sans", "Droid Sans", "Helvetica Neue", 
    sans-serif;
  margin: 2rem auto;
  padding: 3rem 3rem;
  width: 800px;
}

#app > h1 {
  margin-bottom: 1rem;
}

#app > ul > li {
  font-size: 1.2em;
  line-height: 1.5;
}

#app > ul > li.done {
  color: #AAA;
  text-decoration: line-through;
}